<!-------------------------------------------------------contacto-------------------------------------------->

<div class="container1" id="Contacto">

    <div style="text-align:center">
        <h2>Contacto</h2>
        <p>Dejenos un mensaje y a la brevedad le contestamos:</p>
    </div>

<div class="gaga">
    <div>
        <img src="https://img.freepik.com/fotos-premium/vista-aerea-arriba-abajo-concurrida-interseccion-calles-trafico-automoviles-movimiento_127089-13552.jpg?w=2000" style="width: 90%">
    </div>

    <div>
        <form action="/action_page.php">       
            <label for="fname">Nombre</label>
            <br><input type="text" id="fname" name="firstname" placeholder="Puede ser tu apodo :D" class="styleImput" style="width: 50%; float: left;">
    <br>
    <br>
    <br>
            <br><label for="subject" style="text-align:left">Mensaje</label>
            <br><textarea id="subject" name="subject" placeholder="Escriba aqui" style="height:170px" class="styleImput"></textarea>
            <br><input type="submit" value="Submit" class="styleSubmit">
        </form>
    </div>
</div>

</div>

<div id="end"></div>