<!----------------------------------------------------------------------------------3er--cuerpo--------------------------------------------->
<div class="container1"> 

        <h2>Proyectos (proximamente)</h2><br>
    <div class="coluPro">
        <div *ngFor="let proyectos of miProyectos">
            <ul class="list-group list-group-flush"  style="background-color: rgba(0, 0, 0, 0);">
                <li class="list-group-item"><img src="{{proyectos.imagen}}" alt="" style="max-width: 150px; margin-left: 50px;"></li>
                <li class="list-group-item"><p>{{proyectos.web}}</p></li>
            </ul>
        </div>
    </div>
        
</div>